/*
 * Стили компонента Searchbar
 */
.Searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #b33fb5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.inputWrapper {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

/*
 * Стили компонента SearchForm
 */
.SearchForm {
    display: flex;
    align-items: center;
    width: 250px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}


.SearchFormButton {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
    background-color: rgb(162, 202, 212);

    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;

    transition: background-color 250ms, scale 250ms;
}

.SearchFormButton:is(:hover, :focus) {
    background-color: rgb(204, 169, 209);
}

.SearchFormButton:is(:hover, :focus) .SearchFormButtonLabel {
    scale: 110%;
}

.SearchFormButtonLabel {
    width: 17px;
    height: 17px;
    background-image: url('../../icon/icons-search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: scale 250ms;
}

.SearchFormInput {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
}

.SearchFormInput::placeholder {
    font: inherit;
    font-size: 18px;
}